{% extends "GLZeistProgrammaBundle::admin.html.twig" %} {%block content%}<h1>Relatie</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Toelichting</th>
            <td>{{ entity.toelichting }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('relatie') }}">
            Terug naar het overzicht
        </a>
    </li>
    <li>
        <a href="{{ path('relatie_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('relatie_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Verwijderen</button>
        </form>
    </li>
</ul>
{%endblock%}