{% import "GLZeistProgrammaBundle::macros.html.twig" as glzeist %}
{%set pagetitle %}
    {{site.titel}} {%block title%}{%endblock%}
{%endset%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--[if lt IE 7]> <html class="lt-ie7" lang="{{app.request.locale}}"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="{{app.request.locale}}"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="{{app.request.locale}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{app.request.locale}}"> <!--<![endif]-->
    <head>
        <meta http-equiv="Cache-control" content="public">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="owner" content="GroenLinks Zeist">
        <meta name="author" content="GroenLinks Zeist">
        <meta name="robots" content="index,follow">

        <title>{{pagetitle}}</title>

        {% stylesheets 
            '@GLZeistProgrammaBundle/Resources/public/css/grid.css' 
            '@GLZeistProgrammaBundle/Resources/public/css/style.css' 
            '@GLZeistProgrammaBundle/Resources/public/css/meer-laden.css' 
            '@GLZeistProgrammaBundle/Resources/public/css/footer.css' 
            '@GLZeistProgrammaBundle/Resources/public/css/spotlicht.css' 
            '@GLZeistProgrammaBundle/Resources/public/css/promotie.css' 
            output='css/main.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <script type="text/javascript" data-main="{{asset('lib/app.js')}}" src="{{asset('lib/require.js')}}"></script>

        {%block seo%}
            <meta name="description" content="{{site.titel}} - {{site.ondertitel}}">
        {%endblock%}

        {%block og%}
            <meta property="og:title" content="{{pagetitle}}" />
            <meta property="og:type" content="website" />
            <meta property="og:site_name" content="{{site.titel}}" />
            <meta property="og:url" content="{{app.request.uri}}" />
        {%endblock%}
    </head>
    <body>
        <nav id="mobile_nav">
           {%include 'GLZeistProgrammaBundle:App:mobile_menu.html.twig'%}
        </nav>
        <div id="page-background">
            <div id="left-page" class="col col-1-2">&nbsp;</div>
            <div id="right-page" class="col col-1-2">&nbsp;</div>
        </div>
        <div id="container" class="grid">
            <header id="page-header" class="col">
                <div id="banner">
                </div>
                <div id="logo">
                    <img src="{{ asset('bundles/glzeistprogramma/images/logo.png') }}" />
                </div>
                <div id="search">
                    <form action="{{path('glzeist_programma_app_search')}}" method="POST">
                        <span class="icon-search">&nbsp;</span>
                        <input id="search_text" placeholder="Zoek op de site" name="search" value="{%if search is defined%}{{search}}{%endif%}" type="text" />
                        <input id="submit_search" type="submit" value="Zoek"/>
                    </form>
                </div>
            </header>
            <nav class="col">
                {%include 'GLZeistProgrammaBundle:App:menu.html.twig'%}
            </nav>
            {%if breadcrumb is defined%}
                <div class="col">
                    {{glzeist.kruimelpad(breadcrumb)}}
                </div>
            {%endif%}
            <div class="col">
                {%block introductie %}
                {%endblock%}
            </div>
            <div class="col col-2-3">
                {%block content%}{%endblock%}
            </div>
            <div class="col col-1-3">
                {%block rightcolumn%}
                    {{glzeist.promotie_widget}}
                    {{glzeist.twitter_widget(site.twitter)}}
                {%endblock%}
            </div>
        </div>
        <footer id="page-footer">
            <div class="grid">
                <div class="col col-1-3">
                    <h1 class="footer-link-list-title">programma</h1>
                    <ul class="footer-link-list">
                        {%for hoofdstuk in hoofdstukken() %}
                            <li class="footer-link-item">
                                {{glzeist.link(path('hoofdstuk',{slug:hoofdstuk.slug}),hoofdstuk.titel)}}
                            </li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="col col-1-3">
                    <h1 class="footer-link-list-title">wie wij zijn</h1>
                    <ul class="footer-link-list">
                        {%for persoon in personen() %}
                            <li class="footer-link-item">
                                {{glzeist.link(path('persoon',{slug:persoon.slug}),persoon.naam)}}
                            </li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="col col-1-3">
                    <h1 class="footer-link-list-title">groenlinks</h1>
                    <ul class="footer-link-list">
                        <li class="footer-link-item">{{glzeist.link("http://www.groenlinks.nl","GroenLinks.nl")}}</li>
                        <li class="footer-link-item">{{glzeist.link("http://standpunten.groenlinks.nl","Standpunten Groenlinks")}}</li>
                        <li class="footer-link-item">{{glzeist.link("http://tweedekamer.groenlinks.nl","Tweedekamer fractie")}}</li>
                        <li class="footer-link-item">{{glzeist.link("http://tweedekamer.groenlinks.nl","Actief!")}}</li>
                    </ul>
                </div>
            </div>
        </footer>
        <script>
            require(['jquery'],function(){
                $('body').delegate('.meer-laden','click',function(){
                    var el=$(this);
                    var url=el.attr('href');
                    el.html('&nbsp;');
                    el.addClass('laden');
                    $.get(url,function(data){
                        el.hide();
                        el.before(data);
                        el.remove();
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>
