{% import "GLZeistProgrammaBundle::macros.html.twig" as glzeist %}

{%set pagetitle %}
    {{site.titel}} {%block title%}{%endblock%}
{%endset%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--[if lt IE 7]> <html class="lt-ie7" lang="{{app.request.locale}}"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="{{app.request.locale}}"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="{{app.request.locale}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{app.request.locale}}"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="owner" content="GroenLinks Zeist">
        <meta name="author" content="GroenLinks Zeist">
        <meta name="robots" content="index,follow">

        <title>{{pagetitle}}</title>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>

        <link rel="stylesheet" href="{{asset('fontello/css/fontello.css')}}">
        <!--[if IE 7]>
            <link rel="stylesheet" href="{{asset('fontello/css/fontello-ie7.css')}}">
        <![endif]-->


        {% javascripts '@GLZeistProgrammaBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets '@GLZeistProgrammaBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {%block seo%}
            <meta name="description" content="{{site.titel}} - {{site.ondertitel}}">
        {%endblock%}

        {%block og%}
            <meta property="og:title" content="{{pagetitle}}" />
            <meta property="og:type" content="website" />
            <meta property="og:site_name" content="{{site.titel}}" />
            <meta property="og:url" content="{{app.request.uri}}" />
        {%endblock%}
    </head>
    <body>
        <div id="page-background" class="clearfix">
            <div id="left-page">&nbsp;</div>
            <div id="right-page">&nbsp;</div>
        </div>
        <div id="container" class="clearfix" style="">
            <div id="header">
                <div id="banner">
                    <img src="{{ path('site_banner') }}" />
                </div>
                <div id="logo">
                    <img src="{{ asset('bundles/glzeistprogramma/images/logo.png') }}" />
                </div>
                <div id="search">
                    <form action="{{path('glzeist_programma_app_search')}}" method="POST">
                        <span class="icon-search">&nbsp;</span>
                        <input name="search" value="{%if search is defined%}{{search}}{%endif%}" type="text" />
                        <input type="submit" value="Zoek"/>
                    </form>
                </div>
            </div>
            <div id="nav">
                {%include 'GLZeistProgrammaBundle:App:menu.html.twig'%}
            </div>
            {%if breadcrumb is defined%}
                {{glzeist.kruimelpad(breadcrumb)}}
            {%endif%}
            {%block introductie %}
            {%endblock%}
            <div id="content">
                {%block content%}{%endblock%}
            </div>
            <div id="rightcolumn">
                {%block rightcolumn%}
                {{glzeist.promotie_widget}}
                {{glzeist.twitter_widget(site.twitter)}}
                {%endblock%}
            </div>
        </div>
        <div id="footer" class="clearfix">
        </div>
        <script>
        $(document).ready(function(){
            $('#select_menu_navigation').change(function(){
                document.location = $(this).val();
            });

            function roteerSpotlicht()
            {
                $('div.spotlicht').each(function(i,n){
                    var spotlicht=$(n);

                    var aantal=$('div.speerpunt',spotlicht).length;
                    var huidig=$('div.speerpunt.focus',spotlicht);
                    if(huidig.length==0)
                    {
                        huidig=$('div.speerpunt',spotlicht).first();
                        huidig.toggleClass('focus'); 
                    }
                    else
                    {
                        var volgendId=(parseInt(huidig.attr("no"))+1)%aantal;
                        var volgende=$('div.speerpunt[no='+volgendId+']',spotlicht);

                        volgende.toggleClass('focus');
                        $('div.content',huidig).toggleClass('focus');
                        $('div.actief',spotlicht).animate(
                            {
                                left: (volgendId*153+74)
                            }, 
                            1000, 
                            function() {
                                huidig.toggleClass('focus'); 
                                $('div.content',volgende).toggleClass('focus');
                            }
                        );
                        
                        
                    }

                });
            }

            setInterval(roteerSpotlicht,5000);

        });
        </script>
    </body>
</html>
