{% macro tweet(tweet) %}
<div class="tweet-button">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{tweet}}" data-lang="nl" data-count="none" data-hashtags="glzeist">Tweeten</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

{%endmacro%}

{% macro meer_items(path,params,count,limit) %}
    {%if count>limit %}
        {% set params=params|merge({limit:limit+10}) %}
        <div class="meer-items">
            <a href="{{path(path,params)}}">Meer</a>
        </div>
    {%endif%}
{%endmacro%}

{%macro paging(page,pages,pageCount) %}
{%endmacro%}

{%macro kruimelpad(breadcrumb) %}
    {%if breadcrumb is defined%}
        <div class="kruimelpad">
            {%for crumb in breadcrumb%}
                {%if not loop.last%}
                    <a class="kruimelpad-link" href="{{crumb.url}}">{{crumb.name}}</a>&nbsp;&raquo;&nbsp;
                {%else%}
                    {{crumb.name}}
                {%endif%}
            {%endfor%}
        </div>
    {%endif%}
{%endmacro%}

{%macro link(url,titel) %}
    <span class="link">&rsaquo;&nbsp;<a href={{url}} title="{{titel}}">{{titel}}</a></span>
{%endmacro%}


{%macro introductie(speerpunten,hoofdstukken) %}
{%import _self as _ %}
<div id="introductie">
    <div class="spotlicht">
        <div class="spotlicht-actief">
            <script>
                if(document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Shape", "1.0"))
                {
                    document.write("<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" height=\"40\"><polygon points=\"0,20 10,0 20,20 \" style=\"fill:red;\"></svg>");
                }
                else
                {
                    document.write("<div style=\"width:50%;height:50%;background-color:red;\">&nbsp</div>");
                }
            </script>
        </div>        
        {%for speerpunt in speerpunten%}
            <div class="speerpunt" no="{{loop.index}}">
                <div class="speerpunt-afbeelding">
                    {%if speerpunt.afbeeldingIsUrl() %}
                        <img src="{{speerpunt.afbeelding}}" alt="{{speerpunt.titel}}">
                    {%else%}
                        <img src="{{path('file',{'filename':speerpunt.afbeelding})}}" alt="{{speerpunt.titel}}">
                    {%endif%}
                </div>
                <div class="speerpunt-content {%if loop.index==1%}focus{%endif%}">
                    <span>{{speerpunt.content}}</span><br/>
                    <span><a class="speerpunt-link" href="{{speerpunt.url}}">&rarr;&nbsp;{{speerpunt.titel}}</a></span>
                </div>
            </div>
        {%endfor%}
        <ul class="speerpunt-menu">
            {%for speerpunt in speerpunten%}
                <li class="speerpunt-menu-item"><a class="speerpunt-menu-item-link" href="{{speerpunt.url}}">{{speerpunt.titel}}</a></li>
            {%endfor%}
        </ul>
    </div>
    {%import _self as _ %}
    {{_.promotie_widget}}

</div>
{%endmacro%}

{%macro twitter_widget(search) %}
<div class="twitter">
    <a class="twitter-timeline"  href="https://twitter.com/search?q={{(search?search:"groenlinks zeist")|url_encode}}"  data-widget-id="334766773385691136">Tweets about "zeist groenlinks"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </a>
</div>
{%endmacro%}

{%macro promotie_widget() %}
    {%import _self as _ %}
     <div class="promotie">
        <ul class="promotie">
            {%for hoofdstuk in hoofdstukken() %}
                <li class="promotie">{{_.link(path('hoofdstuk',{slug:hoofdstuk.slug}),hoofdstuk.titel)}}</li>
            {%endfor%}
        </ul>
        {{_.programmapdf()}}
    </div>

{%endmacro%}

{%macro programmapdf(title) %}
    {%import _self as _ %}
    {%if not title %} 
        {% set title='Download PDF' %}
    {%endif%}
    <div class="downloadpdf">
    {{_.link(asset('bestanden/programma.pdf'),'Download het programma')}}
    </div>
{%endmacro%}