{% extends "GLZeistProgrammaBundle::admin.html.twig" %} 
{%block content%}
<h1>Kandiaten overzicht</h1>
<ul class="actions">
    <li>
        <a href="{{ path('admin_new_kandidaat') }}">
            Voeg een kandidaat toe
        </a>
    </li>
</ul>


<table class="records_list">
    <thead>
        <tr>
            <th class="edit"></th>
            <th>Plek</th>
            <th>Naam</th>
            <th>Kern</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                <a class="button"title="Bewerk" href="{{ path('admin_edit_kandidaat', { 'id': entity.id }) }}"><span class="icon-pencil">&nbsp;</span></a>
            </td>
            <td>{{ entity.plek }}</td>
            <td>{{ entity.naam }}</td>
            <td>{{ entity.kern }}</td>
            <td>
                {%if entity.thumbfile %}
                    <img src="{{path('file',{filename:entity.thumbfile})}}" />
                {%endif%}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{%endblock%}