{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}Home{%endblock%}

{%block introductie%}
    {%if speerpunten is defined and speerpunten|length>0 %}
        {{glzeist.introductie(speerpunten,hoofdstukken)}}
    {%endif%}
{%endblock%}

{%block rightcolumn%}
    {{glzeist.twitter_widget}}
{%endblock%}

{%block content%}
    
    <section id="items" class="col-1-2">
        <h1 class="header">{{site.titel}}</h1>
    </section>
    <section id="nieuws" class="laden col-1-2">
        <h1 class="header">Nieuws</h1>
    </section>
    <script>
        require(['jquery'],function(){
            var url="{{path('rss',{limit:3})}}";
            $.get(url,function(data){
                $('#nieuws').removeClass('laden');
                $('#nieuws').append(data);
            });
        });
        require(['jquery'],function(){
            var url="{{path('item_list_home',{limit:4})}}";
            $.get(url,function(data){
                $('#items').removeClass('laden');
                $('#items').append(data);
            });
        });

    </script>
{%endblock%}


