{% extends "GLZeistProgrammaBundle::admin.html.twig" %} 
{%block content%}
<h1>Item bewerken</h1>
<div>
    {%if entity.gewijzigdNaPublicatie %}
        <div class="notice"><strong>Gewijzigd na laatste publicatie</strong></div>
    {%elseif entity.gepubliceerd %}
        <div class="notice"><strong>Gepubliceerd</strong></div>
    {%elseif entity.aangevraagd %}
        <div class="notice"><strong>Publicatie aangevraagd</strong></div>
    {%else%}
        <div class="notice"><strong>Niet gepubliceerd</strong></div>
    {%endif%}
    {%if entity.gepubliceerd %}
        <div><label>Laatste publicatie:</label>&nbsp;{{entity.publishedItem.gepubliceerdOp|date('d-m-Y H:i:s')}}</div>
    {%endif%}
    <div><label>Laatst gewijzigd:</label>&nbsp;{{entity.gewijzigdOp|date('d-m-Y H:i:s')}}</div>
    <br/>
</div>

<div class="grid">
    <ul class="actions">
        <li>
            <a href="{{ path('admin_item') }}">
                Terug naar het overzicht
            </a>
        </li>

        <li><a href="{{path('admin_preview_item',{id:entity.id})}}">Voorbeeld</a></li>
        
        {%if is_moderator() and entity.gepubliceerd %}
            <li>
                <form action="{{ path('admin_publiceer_item', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(publish_form) }}
                    <button type="submit">Opnieuw Publiceren</button>
                </form>
            </li>
            <li>
                <form action="{{ path('admin_unpublish_item', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(unpublish_form) }}
                    <button type="submit">Publicatie verwijderen</button>
                </form>
            </li>
        {%elseif is_moderator() %}            
            <li>
                <form action="{{ path('admin_publiceer_item', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(publish_form) }}
                    <button type="submit">Publiceren</button>
                </form>
            </li>

        {%else%}
            <li>
                <form action="{{ path('admin_publicatie_aanvraag', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(publish_form) }}
                    <button type="submit">Publicatie aanvragen</button>
                </form>
            </li>
        {%endif%}
        <li>
            {{macros.delete_form('item_delete',delete_form,entity)}}
        </li>

    </ul>
</div>

<form action="{{ path('item_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    
    {{ form_row(edit_form.titel) }}
    {{ form_row(edit_form.hoofdstuk) }}
    {{ form_row(edit_form.thema) }}

    {{ form_row(edit_form.kernboodschap) }}
    <div class="form_row">
        <label>Tweet (<span id="wordcount">{{entity.tweet|length}}</span> tekens)</label>
        {{ form_widget(edit_form.tweet) }}
        
    </div>

    {{ form_row(edit_form.voorstellen) }}
    {{ form_row(edit_form.verantwoording) }}
    {{ form_row(edit_form.hoofdtekst) }}
    <div class="form_row">
        <label>Afbeedling</label>
        <div class="upload_image">
            <img src="{{path('file',{filename:entity.imagefile})}}" />
            <img src="{{path('file',{filename:entity.thumbfile})}}" />
            {{ form_widget(edit_form.file) }}
            {{ form_errors(edit_form.file) }}
            <input type=submit value="Opslaan" />
        </div>
    </div>
    
    
    <div class="form_row">
        <label>Youtube Video</label>
        <div class="video">
            {%if entity.video %}

                <iframe id="ytplayer" type="text/html" width="640" height="360"
                src="https://www.youtube.com/embed/{{entity.video}}"
                frameborder="0" allowfullscreen ></iframe>

            {%endif%}   
            {{ form_widget(edit_form.video) }}
            <div class="hint">Vul hier de code van de youtube viideo in bijv:<br/>HOdPlzh6Go8 (http://www.youtube.com/watch?v=HOdPlzh6Go8)</div>
            <input type=submit value="Opslaan" />
        </div>
    </div>
    <div class="form_row">
        {{ form_label(edit_form.links) }}
        {{ form_widget(edit_form.links) }}
    </div>

    {{ form_row(edit_form.trefwoorden) }}
    {{ form_row(edit_form.relaties) }}


    {{ form_row(edit_form._token) }}

    <div class="form_actions">
        <button type="submit">Opslaan</button>
    </div>
</form>

<script>
    require(["jquery","ckeditor/ckeditor"], function() {
        CKEDITOR.replace('glzeist_bundle_programmabundle_itemtype_kernboodschap');
        CKEDITOR.replace('glzeist_bundle_programmabundle_itemtype_hoofdtekst');
        CKEDITOR.replace('glzeist_bundle_programmabundle_itemtype_voorstellen');
        CKEDITOR.replace('glzeist_bundle_programmabundle_itemtype_verantwoording');

        $("#glzeist_bundle_programmabundle_itemtype_tweet").keyup(function(){
            var max=100;

            var len= $(this).val().length;

            $("#wordcount").html(len);

            if(len>max)
            {
                if(!$('#wordcount').hasClass('error'))
                {
                    $('#wordcount').addClass('error');
                }
            }
            else
            {
                $('#wordcount').removeClass('error');
            }
        }).keyup();

        var linkCount = '{{ edit_form.links | length }}';

        $('div.collection a.add').click(function() {
            var collection = $(this).parent('div.collection');
            var list = $('div.items',collection);

            var newWidget = list.attr('data-prototype');

            newWidget = newWidget.replace(/__name__label__/g, '');
            newWidget = newWidget.replace(/__name__/g, linkCount);
            linkCount++;

            var newDiv = jQuery(newWidget);
            newDiv.appendTo(list);

            return false;
        });


        $('div.collection').on('click','a.remove', function(){
            $(this).parent().remove();
            return false;
        });
    });


</script>
{%endblock%}