{% extends "GLZeistProgrammaBundle::admin.html.twig" %} 
{%block content%}
<h1>Item overzicht</h1>

<p>
    <form method="GET">    
        <div>
            <input type="text" name="search" value="{{search}}"/>
            <input type="submit" value="Zoek"/>
            <input type="submit" value="Herstel" onclick="javascript:this.form.elements[0].value='';this.form.submit()"/>
        </div>
        <label>Sorteer</label>&nbsp;<select name="orderby" onchange="javascript:this.form.submit();">
            {%for field,name in fields%}
                <option {%if orderBy==field %}selected="selected"{%endif%} value="{{field}}">{{name}}</option>
            {%endfor%}
        </select>
        <input type="radio" name="sortorder" value="ASC" {%if sortOrder == 'ASC' %} checked="checked" {%endif%} onchange="javascript:this.form.submit();"/> 
        <label>Oplopend</label>
        <input type="radio" name="sortorder" value="DESC" {%if sortOrder == 'DESC' %} checked="checked" {%endif%} onchange="javascript:this.form.submit();" />
        <label>Aflopend</label>
    </form>
</p>
{{macros.paging(page,pageCount,'item',{search:search,orderby:orderBy,page:page})}}
<div class="results">
    {%if entities|length == 0 %}
        <h3>Geen resultaten</h3>
    {%endif%}

    {% for entity in entities %}
        <div class="item entry clearfix">
            <h2>{{ entity.titel }}</h2>
            <div class="clearfix">
                <div class="info">
                    <div>{{entity.datumtijd|date('d-m-Y H:i:s')}}</div>

                    <h3>Kernboodschap</h3>
                    <div>{{ entity.kernboodschap|raw }}</div>
                    <h3>Tweet</h3>
                    <div>{{ entity.tweet|raw }}</div>
                </div>
                <div class="thumb">
                    {%if entity.thumbfile %}
                        <img src="{{path('file',{filename:entity.thumbfile})}}" />
                    {%else%}
                        &nbsp;
                    {%endif%}
                </div>
            </div>
            <div>
                <ul class="actions">
                    <li>
                        <a href="{{ path('item_edit', { 'id': entity.id }) }}">Bewerk</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

<ul  class="actions">
    <li>
        <a href="{{ path('item_new') }}">
            Nieuw item toevoegen
        </a>
    </li>
</ul>
{%endblock%}