{% extends "GLZeistProgrammaBundle::admin.html.twig" %} 
{%block content%}
<h1>Item toevoegen</h1>

<form action="{{ path('item_create') }}" method="post" {{ form_enctype(form) }} class="new">
  
    {{ form_errors(form) }}
    {{ form_row(form.titel) }}
    {{ form_row(form.kernboodschap) }}
    {{ form_row(form.tweet) }}
    {{ form_row(form.voorstellen) }}
    {{ form_row(form.verantwoording) }}
    {{ form_row(form.hoofdtekst) }}
    <div>
        <label>Afbeedling</label>
        <img src="{{path('file',{filename:entity.imagefile})}}" />
        <img src="{{path('file',{filename:entity.thumbfile})}}" />
    </div>
    {{ form_row(form.file) }}
    
    {%if entity.video %}
        <div>
            <label>Video</label>
            <iframe id="ytplayer" type="text/html" width="640" height="360"
            src="https://www.youtube.com/embed/{{entity.video}}"
            frameborder="0" allowfullscreen ></iframe>
        </div>
    {%endif%}

    {{ form_row(form.video) }}
    {{ form_row(form.trefwoorden) }}
    {{ form_row(form.thema) }}
    {{ form_row(form._token) }}
    <p>
        <button type="submit">Toevoegen</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_item') }}">
            Terug naar het overzicht
        </a>
    </li>
</ul>
<script>
    CKEDITOR.replace('glzeist_bundle_programmabundle_itemtype_kernboodschap');
    CKEDITOR.replace('glzeist_bundle_programmabundle_itemtype_hoofdtekst');
    CKEDITOR.replace('glzeist_bundle_programmabundle_itemtype_voorstellen');
    CKEDITOR.replace('glzeist_bundle_programmabundle_itemtype_verantwoording');

</script>
{%endblock%}