{% extends "GLZeistProgrammaBundle::admin.html.twig" %} {%block content%}<h1>Item</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titel</th>
            <td>{{ entity.titel }}</td>
        </tr>
        <tr>
            <th>kernboodschap</th>
            <td>{{ entity.kernboodschap }}</td>
        </tr>
        <tr>
            <th>Hoofdtekst</th>
            <td>{{ entity.hoofdtekst }}</td>
        </tr>
        <tr>
            <th>Tweet</th>
            <td>{{ entity.tweet }}</td>
        </tr>
        <tr>
            <th>Verantwoording</th>
            <td>{{ entity.verantwoording }}</td>
        </tr>
        <tr>
            <th>Voorstellen</th>
            <td>{{ entity.voorstellen }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_item') }}">
            Terug naar het overzicht
        </a>
    </li>
    <li>
        <a href="{{ path('item_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('item_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Verwijderen</button>
        </form>
    </li>
</ul>
{%endblock%}