<article class="list-item">
    <h2 class="naam">
        {%if kandidaat.personalia %}
            <a title="{{kandidaat.naam}}" href="{{path('kandidaat',{slug:kandidaat.slug})}}">{{kandidaat.naam}}</a>
        {%else%}
            <span>{{kandidaat.naam}}</span>
        {%endif%}
        {%if kandidaat.kern %}
            <span>({{kandidaat.kern}})</span>
        {%endif%}
    </h2>
    {%if kandidaat.thumbfile %}
        <div class="thumb">
            <img src="{{path('file',{filename:kandidaat.thumbfile})}}" />
        </div>
    {%endif%}
</article>