<div class="item-list-entry list-entry clearfix">
    <h2 class="titel">
        <a href="{{item.link}}"">{{item.title}}</a>
    </h2>
    <div class="meta"><span class="geplaatst">{{item.pubDate|date('d-m-Y')}}</span></div>
    <div class="clearfix">
        {%if item['dc:image'] is defined %}
            <div class="image" style="float:right">
                <img width=200 src="{{item['dc:image']}}" />
            </div>
        {%endif%}
        <div class="description">
            {{item.description|raw}}
        </div>
    </div>
</div>