<div class="persoon-list-entry clearfix">
    <h3 class="naam">
        {{persoon.naam}}
    </h3>
    {%if persoon.thumbfile %}
        <div class="thumb">
            <img src="{{path('file',{filename:persoon.thumbfile})}}" />
        </div>
    {%endif%}
    <div class="functie">
        {{persoon.functie}}
    </div>
    <div class="lees-meer">
        <a title="{{persoon.naam}}" href="{{path('persoon',{slug:persoon.slug})}}">lees meer</a>
    </div>
</div>