<div class="persoon-list-entry list-entry clearfix">
    <h2 class="naam">
        <a title="{{persoon.naam}}" href="{{path('persoon',{slug:persoon.slug})}}">{{persoon.naam}}</a>
    </h2>
    {%if persoon.thumbfile %}
        <div class="thumb">
            <img src="{{path('file',{filename:persoon.thumbfile})}}" />
        </div>
    {%endif%}
    <div class="functie">
        {{persoon.functie}}
    </div>
</div>