<article class="list-item">
    <h2 class="titel">
        <a title="{{wijk.wijk}}" href="{{path('wijk_detail',{slug:wijk.slug})}}">{{wijk.wijk}}</a>
    </h2>
    <div class="tekst">
        {{wijk.samenvatting|raw}}
    </div>
    {%if wijk.trefwoorden|length > 0 %}
        <div class="trefwoorden">
            <strong>Trefwoorden:</strong>
            {%for trefwoord in wijk.trefwoorden %}
                <a href="{{path('trefwoord',{slug:trefwoord.slug})}}" title="{{trefwoord.trefwoord}}">{{trefwoord.trefwoord}}</a>
            {%endfor%}
        </div>
    {%endif%}

</article>