{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}Onderwerp - {{item.titel}}{%endblock%}
{%block seo%}
    {%set keywords="" %}
    {%for trefwoord in item.trefwoorden %}
        {%set keywords=keywords ~ trefwoord.trefwoord %}
        {%if not loop.last %}
            {%set keywords=keywords ~ ","%}
        {%endif%}
    {%endfor%}
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{item.tweet|raw}}">
{%endblock%}


{%block content%}

<div id="binnenvak" class="item">
    <div class="header">
        <h1>{{item.titel}}</h1>
        {%if item.tweet %}
            {{glzeist.tweet(item.tweet)}}
        {%endif%}
    </div>
    <div>
        {{item.kernboodschap|raw}}
    </div>
    {%if item.voorstellen %}
        <h2>
            Wat stellen we voor?
        </h2>
        <div>
            {{item.voorstellen|raw}}
        </div>
    {%endif%}
    {%if item.voorstellen %}
        <h2>
            Wat hebben we er de afgelopen vier jaar aan gedaan?
        </h2>
        <div>
            {{item.verantwoording|raw}}
        </div>
    {%endif%}
    {%if item.hoofdtekst %}
        <h2>
            Achtergrond
        </h2>
        <div>
            {{item.hoofdtekst|raw}}
        </div>
    {%endif%}
    {%if item.links|length>0 %}
        <h2>
            Links
        </h2>
        <div>
            <ul class="links">
            {%for link in item.links %}
                <li>{{glzeist.link(link.url,link.titel)}}</li>
            {%endfor%}
            </ul>
        </div>
    {%endif%}

</div>

{%endblock%}

{%block rightcolumn%}

    {%if item.video %}
        <div id="video">
            <iframe width="298" height="180" src="http://www.youtube.com/embed/{{item.video}}" frameborder="0" allowfullscreen></iframe>
        </div>
    {%endif%}
    {%if item.relaties|length>0 %}
        <div id="relaties">
            <h2>Samenhangende items</h2>
            <h3>
            {%for relatie in item.relaties %}
                {{glzeist.link(path('item',{thema:relatie.thema.slug,slug:relatie.slug}),relatie.titel)}}
               <br>
            {%endfor%}
            </h3>
        </div>
    {%endif%}
    {%if item.trefwoorden|length>0 %}
        <div id="trefwoorden">
            <h2>Trefwoorden</h2>
            <h3>
            {%for trefwoord in item.trefwoorden %}
                {{glzeist.link(path('trefwoord',{slug:trefwoord.slug}),trefwoord.trefwoord)}}
                <br>
            {%endfor%}
            </h3>
        </div>
    {%endif%}
    {%if item.imagefile %}
        <div id="afbeelding">
            <div class="image">
                <img src="{{path('file',{filename:item.imagefile})}}" />
            </div>
        </div>
    {%endif%}
{%endblock%}