{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block content%}
    {%for result in results%}
        {%set item=result[0] %}
        {%set relevance=result.relevance %}
        <div class="search-result">
            <span class="titel"><a title="{{item.titel}}" href="{{path('glzeist_programma_app_item_detail',{slug:item.slug})}}">{{item.titel}}</a></span>
            <span class="titel">{{item.basistekst}}</span>
            <span class="relevance">{{(relevance*100)|number_format(0)}}</span>
        </div>
{%endfor%}
{%endblock%}
