{% extends "GLZeistProgrammaBundle::base.html.twig" %} 

{%block title%}{{persoon.naam}}{%endblock%}

{%block content%}

<div id="binnenvak" class="persoon">
    <div class="header">
        <h1>{{persoon.naam}}</h1>
    </div>
    <h2>{{persoon.functie}}</h2>
    <div class="foto">
        <img src="{{path('file',{filename:persoon.imagefile})}}" />
    </div>
    <div>
        {{persoon.personalia|raw}}
    </div>
</div>

{%endblock%}

{%block rightcolumn%}
    {%if persoon.imagefile %}
        <div id="afbeelding">
            <div class="image">
                <img src="{{path('file',{filename:persoon.imagefile})}}" />
            </div>
        </div>
    {%endif%}
{%endblock%}