{% for item in items %}
    <article class="list-item">
        <h2 class="titel">
            <a href="{{item.link}}"">{{item.title}}</a>
        </h2>
        <div class="meta"><span class="geplaatst">{{item.pubDate|date('d-m-Y')}}</span></div>
        <div>
        {%if item['dc:image'] is defined %}
            <div class="thumb">
                <img width=200 src="{{item['dc:image']}}" />
            </div>
        {%endif%}
        <div class="description">
            {{item.description|raw}}
        </div>
    </article>
{%endfor%}
<a class="meer-laden" href="{{path('rss',{limit:limit,offset:offset})}}">Meer nieuws</a>