<div class="item-list-entry clearfix">
    <h3 class="titel">
        {{item.titel}}
    </h3>
    {%if item.thumbfile %}
        <div class="thumb">
            <img src="{{path('file',{filename:item.thumbfile})}}" />
        </div>
    {%endif%}
    <div class="kernboodschap">
        {{item.kernboodschap|raw}}
    </div>
    <div class="lees-meer">
        <a title="{{item.titel}}" href="{{path('glzeist_programma_app_item_detail',{slug:item.slug})}}">lees meer</a>
    </div>
</div>