{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}{{hoofdstuk.titel}}{%endblock%}
{%block seo%}
    <meta name="description" content="{{hoofdstuk.metaDescription}}">
{%endblock%}

{%block content%}
    <p>
        {{glzeist.programmapdf() }}
    </p>

<div id="hoofdstuk-header">
    <h1 id="hoofdstuk-titel">{{hoofdstuk.titel}}</h1>
    <div class="hoofdstuk-inleiding">
        {{hoofdstuk.samenvatting|raw}}
    </div>
    {%if hoofdstuk.imageFile %} 
        <div class="hoofdstuk-afbeelding">
            <img src="{{path('file',{filename:hoofdstuk.imagefile})}}" />
        </div>
    {%endif%}
</div>

<article class="tekst">
    <p>
    {{hoofdstuk.tekst|raw}}
    </p>
</article>


{%endblock%}

{%block rightcolumn%}
    {%if items|length > 0 %}
        <h1>Onderwerpen</h1>
        <ul class="links">
        {%for item in items%}
            <li class="link-item">{{glzeist.link(path('item',{hoofdstuk:item.hoofdstuk,slug:item.slug}),item.titel)}}</li>
        {%endfor%}
        </ul>
        <br/>
    {% endif %}
    {{glzeist.twitter_widget(site.twitter)}}
{%endblock%}