{% extends "GLZeistProgrammaBundle::base.html.twig" %} 

{%block title%}{{kandidaat.naam}}{%endblock%}

{%block content%}

<article class="kandidaat">
    <h1>{{kandidaat.naam}} 
        {%if kandidaat.kern %}
            <span>({{kandidaat.kern}})</span>
        {%endif%}</h1>
    <p>
        {%if kandidaat.personalia %}
            {{kandidaat.personalia|raw}}
        {%elseif kandidaat.kandidaatWilPersonaliaAanleveren %}
            (Een korte kennismaking met deze kandidaat volgt) 
        {%elseif kandidaat.kandidaatWilPersonaliaAanleveren is null  %}
            (Deze kandidaat heeft nog geen informatie doorgegeven) 
        {%else%}
            (Voor deze kandidaat is er geen informatie) 
        {%endif%}
    </p>
</article>

{%endblock%}

{%block rightcolumn%}
    {%if kandidaat.imagefile %}
        <div id="afbeelding">
            <div class="image">
                <img src="{{path('file',{filename:kandidaat.imagefile})}}" />
            </div>
        </div>
    {%endif%}
{%endblock%}