{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}{{wijk.wijk}}{%endblock%}
{%block seo%}
{%endblock%}

{%block content%}

<article class="wijk">
    <header class="wijk-header">
        <h1>{{wijk.wijk}}</h1>
        {%if wijk.trefwoorden|length > 0 %}
            <div class="trefwoorden">
                <strong>Trefwoorden:</strong>
                {%for trefwoord in wijk.trefwoorden %}
                    <a href="{{path('trefwoord',{slug:trefwoord.slug})}}" title="{{trefwoord.trefwoord}}">{{trefwoord.trefwoord}}</a>
                {%endfor%}
            </div>
        {%endif%}
    </header>
        <div class="grid">
            <div class="col col-1-2">
                {%if wijk.wijkParels and wijk.wijkParels|length > 0 %}
                    <h2>
                        Uitblinkers
                    </h2>
                    <ul class="links">
                    {%for parel in wijk.wijkParels %}
                        <li>{{glzeist.link('#'~parel.slug,parel.titel)}}</li>
                    {%endfor%}
                    </ul>
                {%endif%}
            </div>
            <div class="col col-1-2">
                {%if wijk.links|length>0 %}
                    <h2>
                        Links
                    </h2>
                    <div>
                        <ul class="links">
                        {%for link in wijk.links %}
                            <li>{{glzeist.link(link.url,link.titel)}}</li>
                        {%endfor%}
                        </ul>
                    </div>
                {%endif%}
            </div>
        </div>

    <div>
        {{wijk.tekst|raw}}
    </div>
    <br/>
</article>
<div class="col">
    {%for parel in wijk.wijkParels %}
        <article id="{{parel.slug}}" class="wijk-parel"> 
            <header>
                <h1>{{parel.titel}}</h1>
                {%if parel.trefwoorden and parel.trefwoorden|length > 0 %}
                    <div class="trefwoorden">
                        <strong>Trefwoorden:</strong>
                        {%for trefwoord in parel.trefwoorden %}
                            <a href="{{path('trefwoord',{slug:trefwoord.slug})}}" title="{{trefwoord.trefwoord}}">{{trefwoord.trefwoord}}</a>
                        {%endfor%}
                    </div>
                {%endif%}
            </header>
            <div>
                {{parel.tekst|raw}}
            </div>
        </article>
    {%endfor%}
</div>

{%endblock%}

{%block rightcolumn%}
    {%if wijk.promo %} 
        {{glzeist.promotie_widget}}
        <div class="promo">{{wijk.promo|raw}}</div>
        {{glzeist.twitter_widget(site.twitter)}}    
    {%else%}
        {{parent()}}
    {%endif%}
{%endblock%}
