{% extends "GLZeistProgrammaBundle::admin.html.twig" %} 
{%block content%}
<h1>Wijk Parel</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('admin_wijk_edit',{id:entity.wijk.id}) }}">
            Terug naar de wijk
        </a>
    </li>
</ul>

<form action="{{ path('admin_wijkparel_create', { 'wijkId': entity.wijk.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.titel) }}
    {{ form_row(form.samenvatting) }}
    {{ form_row(form.tekst) }}
    {{ form_row(form.promo) }}

    {% form_theme form.links 'GLZeistProgrammaBundle:Admin/Item:links_collection_widget.html.twig' %}
    <div class="form_row">
        {{ form_label(form.links) }}
        {{ form_widget(form.links) }}
    </div>

    {% form_theme form.afbeeldingen 'GLZeistProgrammaBundle:Admin/Item:afbeeldingen_collection_widget.html.twig' %}
    <div class="form_row">
        {{ form_label(form.afbeeldingen) }}
        {{ form_widget(form.afbeeldingen) }}
    </div>

    {{ form_row(edit_form.trefwoorden) }}

    {{form_rest(form)}}
    <div class="form_actions">
        <button type="submit">Toevoegen</button>
    </div>
</form>

<script>
    require(["ckeditor/ckeditor"], function() {
        CKEDITOR.replace('glzeist_bundle_programmabundle_wijkpareltype_samenvatting');
        CKEDITOR.replace('glzeist_bundle_programmabundle_wijkpareltype_tekst');
        CKEDITOR.replace('glzeist_bundle_programmabundle_wijkpareltype_promo');
    });
</script>

{%endblock%}